<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Programa de fiestas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <strong>Filtrar resultados por:</strong>
    <button ion-button item-right color="danger" (click)="deleteFilters(true)">Borrar filtros</button>
  </ion-item>
  <ion-item>
    <ion-label>Fecha</ion-label>
    <ion-datetime displayFormat="DD/MM" [(ngModel)]="selectedDate" (ionChange)="dateFilter($event, false, true)" doneText="OK" cancelText="Cancelar"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Categoría</ion-label>
    <ion-select [(ngModel)]="selectedCategory" (ionChange)="categoryFilter($event, false, true)" doneText="OK" cancelText="Cancelar">
      <ion-option value="Música">Música</ion-option>
      <ion-option value="Infantil">Infantil</ion-option>
      <ion-option value="Toros">Toros</ion-option>
      <ion-option value="Otros">Otros</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label color="default" fixed>Texto:</ion-label>
    <ion-input type="text" placeholder="escribe aquí..." [(ngModel)]="selectedText" (ionChange)="textFilter($event, false)"></ion-input>
  </ion-item>
  <ion-row>
    <ion-col col-4>
      <button ion-button block color="light" (click)="yesterday()">Ayer</button>
    </ion-col>
    <ion-col col-4>
      <button ion-button block color="light" (click)="today()">Hoy</button>
    </ion-col>
    <ion-col col-4>
      <button ion-button block color="light" (click)="tomorrow()">Mañana</button>
    </ion-col>
  </ion-row>

  <ion-item *ngIf="showEvents.length == 0" text-wrap>
      No hay ningún evento disponible...
  </ion-item>

  <ion-list no-lines>
    <ion-item-sliding *ngFor="let item of showEvents; let i = index; trackBy: customTrackBy">
      <ion-item>
        <ion-card>
            <ion-fab right top>
              <button *ngIf="item.starred" ion-fab (click)="unstarEvent(item)">
                <ion-icon name="star"></ion-icon>
              </button>
              <button *ngIf="!item.starred" ion-fab (click)="starEvent(item)">
                <ion-icon name="star-outline"></ion-icon>
              </button>
            </ion-fab>
            <ion-item text-wrap>
              <ion-icon name="{{item.event.icon}}" item-start large></ion-icon>
              <h2>{{item.event.title}}</h2>
              <p>{{item.event.description}}</p>
            </ion-item>
          
            <ion-item text-wrap>
              <ion-icon name="body" item-start large ></ion-icon>
              <h2>Artista(s):</h2>
              <p>{{item.event.artists}}</p>
            </ion-item>
      
            <ion-item text-wrap>
              <ion-icon name="contacts" item-start large ></ion-icon>
              <h2>Colaboran:</h2>
              <p>{{item.event.colaborators}}</p>
            </ion-item>
          
            <ion-item text-wrap>
                <ion-icon name="pin" item-start large ></ion-icon>
                <h2>Lugar:</h2>
                <p>{{item.event.place}}</p>
              </ion-item>
      
            <ion-item text-wrap>
              <span item-start>{{item.event.start.toLocaleDateString('es-ES', { weekday: 'short', month: 'short', day: 'numeric' })}} - {{item.event.start.toTimeString().split(' ')[0].substring(0, 5)}}</span>
              <span *ngIf="item.event.end" item-start>➡ {{item.event.end.toLocaleDateString('es-ES', { weekday: 'short', month: 'short', day: 'numeric' })}} - {{item.event.end.toTimeString().split(' ')[0].substring(0, 5)}}</span>
            </ion-item>

        </ion-card>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

</ion-content>