<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Fiestas de Ejea</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-icon name="time" item-start></ion-icon> 
      <strong>Ahora mismo...</strong>
    </ion-card-header>
  
    <ion-list>
      <button ion-item (click)="pushPage(item)" *ngFor="let item of rightNowEvents; let i = index; trackBy: customTrackBy">
        <ion-icon name="{{item.icon}}" item-start></ion-icon>
        {{item.title}}<br>
        <ion-badge color="danger" item-buttom>{{item.start.toTimeString().split(' ')[0].substring(0, 5)}}</ion-badge>
      </button>
      <ion-item *ngIf="rightNowEvents.length == 0" text-wrap>
        No hay ningún evento en estos momentos
      </ion-item>
  
    </ion-list>
  </ion-card>

  <ion-card>
      <ion-card-header>
        <ion-icon name="fastforward" item-start></ion-icon> 
        <strong>Próximamente...</strong>
      </ion-card-header>
    
      <ion-list>
        <button ion-item (click)="pushPage(item)" *ngFor="let item of nextEvents; let i = index; trackBy: customTrackBy">
          <ion-icon name="{{item.icon}}" item-start></ion-icon>
          {{item.title}}<br>
          <ion-badge color="light" item-buttom>{{item.start.toLocaleDateString('es-ES', { weekday: 'short', month: 'short', day: 'numeric' })}} - {{item.start.toTimeString().split(' ')[0].substring(0, 5)}}</ion-badge>
        </button>
        <ion-item *ngIf="nextEvents.length == 0" text-wrap>
          No hay ningún evento próximamente
        </ion-item>
    
      </ion-list>
    </ion-card>

  <button ion-button block icon-start [navPush]="programPage">
    <ion-icon name="paper" item-start></ion-icon>
    <strong>Programa</strong>
  </button>

  <button ion-button block icon-start [navPush]="favsPage">
      <ion-icon name="star" item-start></ion-icon>
      <strong>Favoritos</strong>
  </button>

  <button ion-button block icon-start [navPush]="phonesPage">
      <ion-icon name="call" item-start></ion-icon>
      <strong>Teléfonos de interes</strong>
  </button>

  <button ion-button block icon-start [navPush]="aboutPage">
      <ion-icon name="information-circle" item-start></ion-icon>
      <strong>Sobre las fiestas</strong>
  </button>

  <button ion-button block icon-start [navPush]="chatPage">
      <ion-icon name="chatboxes" item-start></ion-icon>
      <strong>Chat</strong>
  </button>

</ion-content>
